*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}
.body{
  background-color: #f5f5f5;
}
:root{
  --primary:#0E0E0E;
  --secendary:#FFFFFF;
  --text:#0E0E0E;
  --btn1:#006A50;
  --btn2:#5490F5;
  --btn3:#FFC239;
  --Bg1:#C6E4D6;
  --Bg2:#5490F533;
  --Bg3:#F7EBCF;
}

.main-content{
  width: 1280px;
  height: 560px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content:space-between;
  padding: 80px 100px 80px 100px;
  background-color: var(--Bg1);
  border-radius: 24px;
  gap: 64px;
}
.left-continer{
  width: 50%;
  height: 560px;
}
.hero-img{
  width: 50%;
  height: 560px;
}
.himag{
  width: 475px;
  height: 400px;
}
.hero-subtitle{
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.5);
}
.hero-title{
  font-size: 50px;
  line-height: 67.5px;
  font-weight: 700;
  color:var(--primary)
}
.btn-1{
  background-color: var(--btn1);
  color: var(--secendary);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
}
.btn-1:hover{
  background-color: transparent;
  border: 1px solid var(--btn1);
  color: var(--primary);
  cursor: pointer;
}
.Pillars{
  width: 1280px;
  height: 350px;
  margin: 0 auto;
  margin-top: 50px;
  gap: 32px;
}

.Pillars-title{
  font-size: 40px;
  line-height: 48px;
}
.items{
  display: flex;
  gap: 24px;
  margin-top: 20px;
}
.img64{
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}
.item{
  background-color: #FFFFFF;
  width: 350px;
  height: 300px;
  border: 1px;
  border-radius: 16px;
  gap: 24px;
  padding: 24px;
  box-shadow: 0px 0px 2px 0px rgba(14, 14, 14, 0.15);
}
.item:hover{
  background-color: var(--Bg1);
}
.item-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 10px;
}
.item-description{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
.Future{
  width: 1280px;
  height: 650px;
  margin: 0 auto;
  margin-top: 70px;
  gap: 32px;
}
.future-description{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.Future-items{
  display: flex;
  gap: 24px;
  margin-top: 20px;
}
.Future-item1{
  background-color: rgba(84, 144, 245, 0.2);
  width: 410px;
  height: 300px;
  border: 1px;
  border-radius: 16px;
  gap: 24px;
  padding: 24px;
  box-shadow: 0px 0px 2px 0px rgba(14, 14, 14, 0.15)
}
.Future-item1:hover{
  background-color: var(--secendary);
  border: 1px solid var(--primary);
}
.Future-item2{
  background-color: rgba(198, 228, 214, 1);
  width: 410px;
  height: 300px;
  border: 1px;
  border-radius: 16px;
  gap: 24px;
  padding: 24px;
  box-shadow: 0px 0px 2px 0px rgba(14, 14, 14, 0.15)
}
.Future-item2:hover{
  background-color: var(--secendary);
  border: 1px solid var(--primary);
}
.Future-item3{
  background-color: rgba(247, 235, 207, 1);
  width: 410px;
  height: 300px;
  border: 1px;
  border-radius: 16px;
  gap: 24px;
  padding: 24px;
  box-shadow: 0px 0px 2px 0px rgba(14, 14, 14, 0.15)
}
.Future-item3:hover{
  background-color: var(--secendary);
  border: 1px solid var(--primary);
}
.fu-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 10px;
}
.fu-descrition{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
.btn-2{
  background-color: var(--btn2);
  padding: 11px 20px 11px 20px;
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 20px;
}
.btn-2:hover{
  background-color: var(--secendary);
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
}

.btn-3{
  background-color:var(--btn1);
  padding: 11px 20px 11px 20px;
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 20px;
}
.btn-3:hover{
  background-color: var(--secendary);
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
}
.btn-4{
  background-color:var(--btn3);
  padding: 11px 20px 11px 20px;
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 20px;
}
.btn-4:hover{
  background-color: var(--secendary);
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
}
.qutation{
  background-image: url(../assets/quote-bg.png);
  background-position: top 20px left 24px;
  background-color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  margin-top: 20px;
  padding: 48px 24px 48px 24px;
  border-radius: 16px;
  border: 1px;
  box-shadow: 0px 0px 2px 0px rgba(14, 14, 14, 0.15);
}
.qutation-title{
  font-size: 16px;
  font-size: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
}

.yunu-title{
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
}
.yunu-descrp{
  font-family: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.6);
}
.opinion{width: 1280px;
  height: 480px;
  margin: 0 auto;
  margin-top: 70px;
  gap: 32px;

}
#qur{
  margin-top: 15px;
  height: 409px;
  background-color: #FFFFFF;
  border-radius: 16px;
  border: 1px;
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 1);
  padding: 32px;
  gap: 24px;
}
.slet{
  display: flex;
  justify-content: space-between;
  background-color: var(--Bg1);
  padding: 24px;
  border: 1px rgba(14, 14, 14, 0.15);
}

.slet-title{
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(14, 14, 14, 1);
}
.qur1{
  height: 92px ;
  display:flex;
  justify-content: center;
  align-items: center;
}
.hd1{
  width: 1017px;
  height: 92px;
  padding: 24px;
  gap: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.btt{
   width: 200px;
  height: 92px;
  padding: 24px;
  gap: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  justify-content: center;
}
.bt{
  background-color:rgba(198, 228, 214, 1);
  padding: 10px 14px 10px 14px;
  gap: 12px;
  border: 1px solid rgba(14, 14, 14, 1);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(14, 14, 14, 1);
}
.bt:hover{
  background-color: var(--secendary);
  cursor: pointer;

}
.hd-title{
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(14, 14, 14, 1);
}
.recnt{
  width: 1280px;
  height: 1430px;
  margin: 0 auto;
  margin-top: 50px;
  gap: 32px;
}
.future-description{
  font-family: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
.box{
  margin-bottom: 20px;
  display: flex;
  height: 402;
  padding: 48px;
  gap: 32px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 1) ;
}
.img1{
  width: 400px;
  height: 300px;
  border-radius: 24px;
}
.content{
  width: 750px;
  height: 300px;
}
.cont-h{
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: rgba(14, 14, 14, 0.8);
}
.im1{
  width: 135px;
  height: 40px;
}
.info{
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
.cont-p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 10px;
  margin-bottom: 10px;
}
.recent-description{
  font-family: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 20px;
  margin-bottom: 30px;
}

.today{
  width: 1280px;
  height: 460px;
  margin: 0 auto;
  margin-top: 50px;
  gap: 32px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.item-descr{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 10px;
  margin-bottom: 10px;
}
.amunts{
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin-top: 20px;
}

.amunt{
  width: 240px;
  background-color: #FFFFFF;
  border: 1px;
  box-shadow: 0px 0px 2px 0px rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 24px;
  gap: 24px;
}
.amunt:hover{
  background-color: var(--Bg1);
  border: 1px solid var(--Bg1);
}
.amunt2{
  width: 240px;
  background-color: rgba(198, 228, 214, 1);
  border: 1px;
  box-shadow: 0px 0px 2px 0px rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 24px;
  gap: 24px;
}
.amunt2:hover{
  background-color:var(--secendary);
  border: 1px solid var(--primary);
}

div input[type="text"]{
   height: 64px;
   background-color: #FFFFFF;
   padding: 20px 40px 20px 40px;
   width: 1020px;
   border: none;
   display: block;
   margin: 0 auto;
   margin-top: 20px;
   text-align: center;
   font-size: 20px;
   font-weight: 400;
   line-height: 24px;
   color:rgba(14, 14, 14, 0.3);
}
.Newsletter{
  width: 1280px;
  height: 395px;
  margin: 0 auto;
  border-radius: 24px;
  padding: 80px 100px 80px 100px;
  gap: 64px;
  background-color: rgba(198, 228, 214, 1);
  text-align: center;
  margin-bottom: 50px;

}
.news-descr{
  max-width: 622px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}

.email-box{
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

form input[type="email"]{
  max-width: 600px;
   height: 64px;
   background-color: #FFFFFF;
   padding: 18px 40px 18px 40px;
   width: 1020px;
   border: none;
   border-radius: 8px 0px 0px 8px;
   display: block;
   margin: 0 auto;
   margin-top: 20px;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   color:rgba(14, 14, 14, 0.3);
}
form input[type="submit"]{
  max-width: 150px;
   height: 64px;
   background-color: rgba(0, 106, 80, 1);
   padding: 17px 40px 17px 40px;
   width: 1020px;
   border: none;
   border-radius: 0px 8px 8px 0px;
   display: block;
   margin: 0 auto;
   margin-top: 20px;
   font-size: 18px;
   font-weight: 600;
   line-height: 21px;
   color:rgba(255, 255, 255, 1);
}
form input[type="submit"]:hover{
  background-color: transparent;
  color: #0E0E0E;
  border: 1px solid var(--btn1);
  cursor: pointer;
}
.inp{
  margin-top: 20px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
   font-weight: 400;
   line-height: 20px;
}
.fa-solid{
  padding-left: 10px;
}

.tod{
  overflow: hidden;
  width: 1280px;
  height: 200px;
  margin: 0 auto;
  margin-top: 50px;
  gap: 32px;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

hr{
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(14, 14, 14, 0.1);

}
header{
  max-width: 1280px;
  height: 100px;
  margin: 0 auto;

}
 header div{
  display: flex;
  justify-content: space-between;
padding: 25px 0px 25px 0px;
align-items: center;
}
.logo{
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: var(--primary);
}
.h-btn{
  padding: 15px 30px 15px 30px;
  border: 1px solid #006A50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: var(--btn1);
  line-height: 22px;
}
.h-btn:hover{
  background-color: #006A50;
  color: #FFFFFF;
  cursor: pointer;
}